<div class="app-auth module">
    <h1><%- plc_name %> Values</h1>
    <div id="content-main">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Comment</th>
                <th>Address</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <% valeurs.forEach(function(test) { %>
            <tr>
                <td><%=test.name%></td>
                <td><%=test.comment%></td>
                <td><%=test.address%></td>
                <td><%=test.value%></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <br class="clear">
    </div>
</div>