<<<<<<< HEAD
  <%- include('../partials/head'); %>
  <div class="dashboard" data-admin-utc-offset="0">
    <div id="container">
      <header>
        <%- include('../partials/header'); %>
      </header>
      <div id="content" class="colMS">
        <div id="content-main">
          <%- include('../partials/table'); %>
        </div>
      </div>
      <%- include('../partials/footer'); %>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<div class="dashboard" data-admin-utc-offset="0">
    <div id="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div id="content" class="colMS">
            <div id="content-main">
                <%- include('../partials/table'); %>
            </div>
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</div>
</body>
</html>
>>>>>>> 438a4a2108ac88cdfcd59ef3479914225988e031
